* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Noto Sans KR', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.liaison { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 200px 0 200px 0;
    width: 100%;
    height: 100%;
}
    .liaison p { 
        font-size: 24px;
        font-weight: bold;
        line-height: 70px;
    }
    .liaison h1 { 
        font-size: 64px;
        line-height: 70px;
        margin-bottom: 20px;
    }
    .btn { 
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 660px;
        height: auto;
    }
        .btn button { 
            width: 100%;
            height: 60px;
            font-size: 24px;
            font-family: Roboto;
            font-weight: bold;
            border: 2px solid #8F8F8F;
            border-radius: 5px;
            background-color: white;
        }
        .btn button:nth-of-type(2) {
            border: 2px solid #000;
            background-color: #000;
            color: white;
        }

@media(min-width:781px) and (max-width:1280px){

}
@media(max-width:780px){
        .liaison p { 
            line-height: 50px;
        }
        .liaison h1 { 
            text-align: center;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 20px;
        }
        .btn { 
            width: 100%;
        }
            .btn button { 
                font-size: 16px;
            }
}