.total{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 860px;
}
    .total h1{
        position: absolute;
        width: 763.09px;
        height: 200.7px;
        text-align: center;
        font-size: 64px;
        font-weight: bold;
        color: white;
    }

@media(min-width:781px) and (max-width:1280px){
    .total h1{ 
        font-size: 50px;
    }
}
@media(max-width:780px){
    .total h1{ 
        width: 100%;
        font-size: 50px;
        text-align: center;
        line-height: 100px;
    }
}